%script{:type => "text/javascript",
        :src  => "http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"}
%script{:type => "text/javascript",
        :src  => "http://html5shiv.googlecode.com/svn/trunk/html5.js"}

:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24648624-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
 
  CFInstall.check({
    mode: "overlay"
  });

%table{"id" => "betaInstructions"}
  %tr{"class" => "instrHead"}
    <!--[if IE]>
    %td
      %h3 Internet Explorer users
    <![endif]-->
    %td
      %h2 1
    %td
      %h2 2
    %td
      %h2 3
  %tr{"class" => "instrHead"}
    <!--[if IE]>
    %td
      %h4 
        = link_to "Install the Google Chrome Frame add-on", "http://tools.google.com/chromeframe"
    <![endif]-->
    %td
      %h4 
        = link_to "Grant access to your calendar", oauth2_authorize_path
    - if user_signed_in?
      %td
        %h4 
          = link_to "Install the Gadget", "https://www.google.com/calendar/render?gadgeturl=#{configatron.gadget.url}?auth_token=#{current_user.authentication_token}&#{Rails.env}=#{Time.now.to_i}"
      %td
        %h4 "Get started start planning"
    - else
      %td
        %h4 You must first accept timejust to read your calendar
        -#= link_to "Sign in with Google Apps Strategy (OpenId, will be usefull for google apps domains)", user_omniauth_authorize_path(:openid, :domain => 'gmail.com')
        
  %tr{"class" => "instrContent"}
    <!--[if IE]>
    %td Timejust Gadget needs the Google Chrome Frame add-on to work correctly.
    <![endif]-->
    %td Granting access to your calendar will enable Timejust to read events, and make sense of them to plan your trips.
    %td You will be asked to install the Gadget in Google Calendar. It will appear on the ride side of the screen, next to the calendar view.
    %td Timejust is up and running. Click an event and start planning trips around Paris (more destinations France and abroad coming soon)        

= render partial: 'layouts/footer'