%h2 Get started with timejust !

%script{:type => "text/javascript",
        :src  => "http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"}
        
:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24648624-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
 
  CFInstall.check({
    mode: "overlay"
  });
  
%ul
  %li
    1. Authorize timejust to read your calendar
    = link_to "Grant Access", oauth2_authorize_path
    = link_to "More information", "#"
  %li
    2. Install timejust pane in your calendar
    - if user_signed_in?
      = link_to "Install timejust pane and get started",
        "https://www.google.com/calendar/render?gadgeturl=#{configatron.gadget.url}?auth_token=#{current_user.authentication_token}&#{Rails.env}=#{Time.now.to_i}",
        :target => :_blank
    - else
      You must first accept timejust to read your calendar
    = link_to "More information", "#"

-#= link_to "Sign in with Google Apps Strategy (OpenId, will be usefull for google apps domains)", user_omniauth_authorize_path(:openid, :domain => 'gmail.com')
