.bodyContent
  %script{:type => "text/javascript",
        :src  => "http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"}
  %script{:type => "text/javascript",
        :src  => "http://html5shiv.googlecode.com/svn/trunk/html5.js"}

  :javascript
    CFInstall.check({
      mode: "overlay"
    });



  <!--[if !IE]> -->
  #bInstallTitle
    %a{:href => oauth2_authorize_path}
      %img{:id => 'install-button', :src => 'http://www.timejust.com/images/InstallTJb.png', :alt => 'install timejust beta!'}
    %h1   let your Google Calendar guide you<br>from your appointment to the next<br>around the world by car, in the Paris<br>Region for public transportation
  #bInstallDetails
    Google will ask you to install the Gadget in Google Calendar. It will appear on the ride side of the screen, next to the calendar view. Then click an event and start planning trips. More destinations coming soon.
    %a{:href => 'http://www.timejust.com/FAQ/index.php'}Questions: FAQ!
    \-
    %a{:href => 'mailto:beta@timejust.com'}Problems: mail us!
    -#linkFAQ
      = link_to "Questions: FAQ!", "http://www.timejust.com/FAQ/index.php"
      \-
      = link_to "Problems: mail us!", "mailto:beta@timejust.com"
  <!-- <![endif]-->  
    
  <!--[if IE]>
  %table{:id => "IETable"}
    %tr{:class => "instrHead"}
      %th
        %h3 Internet Explorer users
    %tr{:class => "instrHead"}
      %td
        %h4 
          = link_to "Install the Google Chrome Frame add-on", "http://tools.google.com/chromeframe"
    %tr{"class" => "instrContent"}
      %td Timejust Gadget needs the Google Chrome Frame add-on to work correctly on Internet Explorer
  <![endif]-->
    
  -#  
    -# COMMIT STRANGE CHANGES
      -#
        -#
          %td Timejust Gadget needs the Google Chrome Frame add-on to work correctly on Internet Explorer
            %h4{:class => user_signed_in? ? "grey" : ""}
              = link_to "Grant access to your calendar", oauth2_authorize_path
          <!-- <![endif]-->
          - if user_signed_in?        
            %td
              %h4{:id => "secondtitle"}
                = link_to "Install the Gadget", "https://www.google.com/calendar/render?gadgeturl=#{configatron.gadget.url}?auth_token=#{current_user.authentication_token}&#{Rails.env}=#{Time.now.to_i}", {:target => "_blank", :onclick => "document.getElementById('third').className = ''; document.getElementById('thirdtext').className = ''; document.getElementById('thirdtitle').className = ''; document.getElementById('second').className = 'grey'; document.getElementById('secondtext').className = 'grey'; document.getElementById('secondtitle').className = 'grey';"} 
          - else
            %td
              %h4{:class => "grey"} Install the Gadget
              -#= link_to "Sign in with Google Apps Strategy (OpenId, will be usefull for google apps domains)", user_omniauth_authorize_path(:openid, :domain => 'gmail.com')

= render partial: 'layouts/footer'