!!! XML
%Module
  %ModulePrefs{title: gadget_title, height: "300", scaling: "false"}
    %Require{feature: "views"}
    %Require{feature: "opensocial-0.9"}
    %Require{feature: "dynamic-height"}
    %Require{feature: "google.calendar-0.5"}
    %Require{feature: "google.calendar-0.5.read"}
  %Content{type: "html", view: "home, canvas"}
    :cdata
      #{configatron.gadget_helper.css.home_canvas.map { |hc| 
        "<link rel=\"stylesheet\" type=\"text/css\" href=\"#{configatron.web.url}/assets/#{hc}\" />"
        }.join }
      <!--[if IE]>
        <style>
          #travels { height: 310px; overflow: auto; }
          .travel_node_toggle { vertical-align: middle; }
          .previous_travel_node span { line-height: 15px; vertical-alig middle; }
          .steps_toggle { vertical-align: middle; }
        </style>
      <![endif]-->
      #{configatron.gadget_helper.js.home_canvas.map { |hc| 
        "<script type=\"text/javascript\" src=\"#{configatron.web.url}/assets/#{hc}\"></script>"
      }.join }      
      <script type="text/javascript">
        App.config.web_url = '#{configatron.web.url}';
        App.config.api_url = '#{configatron.api.url}';
        App.config.basic_auth = #{@basic_auth};
        App.config.auth_token = '#{current_user.authentication_token}';
        App.config.calendar_names = #{User.shared_calendars_properties.map{|properties| properties[:name]}};

        GoogleRequest.basic_auth = App.config.basic_auth;
        GoogleRequest.additional_params = {
          auth_token: App.config.auth_token
        }
        var app = new App.Controllers.GadgetController();
      </script>
  %Content{type: "html", view: "home"}
    :cdata
      <div id="notifications"></div>
      <div id="selectedEvent"></div>      
      <div id="travels"></div>
      <img class="loader" src="#{configatron.web.url}/assets/loader.gif" />
      #{configatron.gadget_helper.css.home.map { |hc| 
        "<link rel=\"stylesheet\" type=\"text/css\" href=\"#{configatron.web.url}/assets/#{hc}\" />"
      }.join }
      #{configatron.gadget_helper.js.home.map { |hc| 
        "<script type=\"text/javascript\" src=\"#{configatron.web.url}/assets/#{hc}\"></script>"
      }.join }      
      <script type="application/javascript" src="http://service-staging.timejust.com:8080/service-geo/v1/geo/ip?callback=app.getip"> </script>
      <script type="text/javascript">
        gadgets.util.registerOnLoadHandler(function(){
          app.sidebar();
        });
      </script>
  %Content{type: "html", view: "canvas"}
    :cdata
      <div id="travelNodesSelector">
        <a href="#" class="cancel">Cancel</a>
      </div>     
      <img class="loader" src="#{configatron.web.url}/assets/loader.gif" />      
      <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
      #{configatron.gadget_helper.css.canvas.map { |hc| 
        "<link rel=\"stylesheet\" type=\"text/css\" href=\"#{configatron.web.url}/assets/#{hc}\" />"
      }.join }
      #{configatron.gadget_helper.js.canvas.map { |hc| 
        "<script type=\"text/javascript\" src=\"#{configatron.web.url}/assets/#{hc}\"></script>"
      }.join }
      <script type="application/javascript" src="http://service-staging.timejust.com:8080/service-geo/v1/geo/ip?callback=app.getip"> </script>
      <script type="text/javascript">
        gadgets.util.registerOnLoadHandler(function(){
          app.travel_node_selector();
        });
      </script>

